---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/aoc/" />
    <link rel="canonical" href="/ideas/aoc/" />
    <title>Redirecting to /ideas/aoc/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/aoc/">/ideas/aoc/</a>...</p>
    <script is:inline>window.location.replace("/ideas/aoc/");</script>
  </body>
</html>
