---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/aossc/" />
    <link rel="canonical" href="/ideas/aossc/" />
    <title>Redirecting to /ideas/aossc/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/aossc/">/ideas/aossc/</a>...</p>
    <script is:inline>window.location.replace("/ideas/aossc/");</script>
  </body>
</html>
