---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/depict/" />
    <link rel="canonical" href="/ideas/depict/" />
    <title>Redirecting to /ideas/depict/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/depict/">/ideas/depict/</a>...</p>
    <script is:inline>window.location.replace("/ideas/depict/");</script>
  </body>
</html>
