---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/gtmd/" />
    <link rel="canonical" href="/ideas/gtmd/" />
    <title>Redirecting to /ideas/gtmd/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/gtmd/">/ideas/gtmd/</a>...</p>
    <script is:inline>window.location.replace("/ideas/gtmd/");</script>
  </body>
</html>
