---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/staging/" />
    <link rel="canonical" href="/staging/" />
    <title>Redirecting to /staging/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/staging/">/staging/</a>...</p>
    <script is:inline>window.location.replace("/staging/");</script>
  </body>
</html>
