---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/mosarch/" />
    <link rel="canonical" href="/ideas/mosarch/" />
    <title>Redirecting to /ideas/mosarch/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/mosarch/">/ideas/mosarch/</a>...</p>
    <script is:inline>window.location.replace("/ideas/mosarch/");</script>
  </body>
</html>
