---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/mosbot/" />
    <link rel="canonical" href="/ideas/mosbot/" />
    <title>Redirecting to /ideas/mosbot/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/mosbot/">/ideas/mosbot/</a>...</p>
    <script is:inline>window.location.replace("/ideas/mosbot/");</script>
  </body>
</html>
