---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/moscam/" />
    <link rel="canonical" href="/ideas/moscam/" />
    <title>Redirecting to /ideas/moscam/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/moscam/">/ideas/moscam/</a>...</p>
    <script is:inline>window.location.replace("/ideas/moscam/");</script>
  </body>
</html>
