---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/moshome/" />
    <link rel="canonical" href="/ideas/moshome/" />
    <title>Redirecting to /ideas/moshome/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/moshome/">/ideas/moshome/</a>...</p>
    <script is:inline>window.location.replace("/ideas/moshome/");</script>
  </body>
</html>
