---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/mosops/" />
    <link rel="canonical" href="/ideas/mosops/" />
    <title>Redirecting to /ideas/mosops/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/mosops/">/ideas/mosops/</a>...</p>
    <script is:inline>window.location.replace("/ideas/mosops/");</script>
  </body>
</html>
