---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/mospresent/" />
    <link rel="canonical" href="/ideas/mospresent/" />
    <title>Redirecting to /ideas/mospresent/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/mospresent/">/ideas/mospresent/</a>...</p>
    <script is:inline>window.location.replace("/ideas/mospresent/");</script>
  </body>
</html>
