---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/mostrade/" />
    <link rel="canonical" href="/ideas/mostrade/" />
    <title>Redirecting to /ideas/mostrade/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/mostrade/">/ideas/mostrade/</a>...</p>
    <script is:inline>window.location.replace("/ideas/mostrade/");</script>
  </body>
</html>
