---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ideas/storyarc/" />
    <link rel="canonical" href="/ideas/storyarc/" />
    <title>Redirecting to /ideas/storyarc/</title>
  </head>
  <body>
    <p>Redirecting to <a href="/ideas/storyarc/">/ideas/storyarc/</a>...</p>
    <script is:inline>window.location.replace("/ideas/storyarc/");</script>
  </body>
</html>
